# Web Framework and Extensions
Flask==2.3.3
Werkzeug==2.3.7
flask-login==0.6.2
flask-caching==2.0.2
flask-limiter==3.3.1
Flask-SQLAlchemy==3.1.1

# Database
SQLAlchemy==2.0.25

# AI and API
dashscope==1.10.0
requests==2.31.0

# Utils
python-dotenv==1.0.0
pytz==2023.3

# Development
black==23.9.1
flake8==6.1.0 